::selection {
  color: #fff;
  background: cornflowerblue;
}

a {
  color: cornflowerblue;
}

footer {
  padding: 5vh 20px;
  text-align: center;
}

footer a {
  text-decoration: none;
  display: inline-block;
}