html.easy-popup-open:has(.easy-popup-master-corner.open) .easy-popup-master {
  opacity: 0;
  visibility: hidden;
}

.easy-popup-master-corner {
  transition: opacity .4s ease, visibility .4s ease, transform .4s ease;
}

.easy-popup-master-corner:not(.open) {
  pointer-events: none;
}

.easy-popup-master-corner.easy-popup {
  opacity: 1;
  visibility: visible;
  top: unset;
  left: unset;
  height: unset;
  width: unset;
  display: block;
}

.easy-popup-master-corner {
  transform: translateX(0);
}

// Popup close button
.easy-popup-master-corner .ep-close-button {
  --ep-close-color: #000;
  transform: translate(0);
  position: fixed;
}

@media only screen and (min-width: 769px) {
  // html.easy-popup-open:has(.easy-popup-master-corner).ep-prevent-scroll  {overflow:auto;}

  .easy-popup-master-corner {
    --ep-max-width: 450px;
    max-width: var(--ep-max-width);
    position: fixed;
    bottom: 0;
    right: 0;
  }

  // Popup container
  .easy-popup-master-corner .easy-popup-container {
    padding: 0 20px 20px 0;
  }

  // Animation
  .easy-popup-master-corner[class*="right"]:not(.open) {
    transform: translateX(100%);
  }
  .easy-popup-master-corner[class*="left"]:not(.open) {
    transform: translateX(-100%);
  }

  // Popup position on the top left side
  .easy-popup-master-corner.top-left {
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
  }
  .easy-popup-master-corner.top-left .easy-popup-container {
    padding: 20px 0 0 20px;
  }

  // Popup position on the top right side
  .easy-popup-master-corner.top-right {
    top: 0;
    right: 0;
    bottom: unset;
  }
  .easy-popup-master-corner.top-right .easy-popup-container {
    padding: 20px 20px 0 0;
  }

  // Popup position on the bottom left side
  .easy-popup-master-corner.bottom-left {
    left: 0;
    right: unset;
  }
  .easy-popup-master-corner.bottom-left .easy-popup-container {
    padding: 0 0 20px 20px;
  }

  // Popup inner
  .easy-popup-master-corner .easy-popup-container .easy-popup-inner {
    border: 1px solid #d0d7de;
    max-height: calc(100vh - 20px * 2);
    overflow-y: auto;
  }
  .easy-popup-master-corner .easy-popup-container .easy-popup-inner .easy-popup-content {
    border-radius: 0;
  }

  // Popup close button
  .easy-popup-master-corner.top-left .ep-close-button {
    top: 20px;
  }
  .easy-popup-master-corner.bottom-right .ep-close-button {
    right: 20px;
  }
  .easy-popup-master-corner.top-right .ep-close-button {
    top: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .easy-popup-master-corner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: var(--ep-bg);
    backdrop-filter: blur(2px);
  }
  .easy-popup-master-corner:not(.open) {
    opacity: 0;
    visibility: hidden;
  }
}