// Base styles
.easy-popup-master-corner {
  --ep-close-color: #000;
  --ep-max-width: 450px;
  transition: opacity 0.4s ease, transform 0.4s ease;
  position: fixed;
  bottom: unset;
  right: unset;
  top: unset;
  left: unset;
  opacity: 1;
  visibility: visible;
  height: unset;
  width: unset;
  display: block;

  &:not(.open) {
    transform: translateX(0);
    pointer-events: none;
  }

  .easy-popup-overflow {
    overflow: unset;
  }

  .easy-popup-container {
    padding: 0;

    .easy-popup-inner {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      border-radius: var(--ep-radius);
      overflow: hidden;
      max-height: calc(100vh - (var(--ep-corner-offset) * 2));
      overflow-y: auto;
    }
  }

  // Position variants
  &.top-left {
    top: var(--ep-corner-offset);
    left: var(--ep-corner-offset);
  }

  &.top-right {
    top: var(--ep-corner-offset);
    right: var(--ep-corner-offset);
  }

  &.bottom-left {
    bottom: var(--ep-corner-offset);
    left: var(--ep-corner-offset);
  }

  &.bottom-right {
    bottom: var(--ep-corner-offset);
    right: var(--ep-corner-offset);
  }

  .ep-close-button {
    transform: translate(0);
  }

  @media only screen and (max-width: 1023px) {
    --ep-corner-offset: 0px;
    --ep-padding: 15px;
    padding: var(--ep-padding);

    .easy-popup-container .easy-popup-inner {
      max-height: calc(100vh - (var(--ep-padding) * 2));
    }
  }

  // Slide animations
  &.is-slide-rlt:not(.open) {
    transform: translateX(100%);
  }

  &.is-slide-lrt:not(.open) {
    transform: translateX(-100%);
  }
}