/****************************
 * Easy Popup Layout: Mobile
****************************/
.easy-popup.ep-mobile-layout {
  --ep-top-empty-space: 100px;
  --ep-mobile-height: calc(100vh - var(--ep-top-empty-space));
}

@media only screen and (max-width: 1023px) {
  .easy-popup.ep-mobile-layout {
    align-items: flex-end;

    /* hiding transition */
    &:not(.open) {
      transform: scale(0.98) translate(0, 50px);
    }


    .easy-popup-overflow {
      overflow: hidden;
      display: flex;
    }

    .easy-popup-container {
      padding: 0;
      overflow: auto;
      max-width: 100%;
      height: var(--ep-mobile-height);
      background: var(--ep-popup-bg);
    }

    /* close button */
    .ep-close-button {
      --ep-close-color: #000;
      transform: none;
      position: fixed;
      top: var(--ep-top-empty-space);
      //&:not(.for-mobile-layout) {
      //  display: none;
      //}
      //
      //&.for-mobile-layout {
      //  --ep-close-color: #000;
      //  top: 50%;
      //  transform: translate(0, -50%);
      //}
    }

  }
}