/****************************
 * Easy Popup Theme: left & right side
****************************/

[data-ep-theme="left-side"],
[data-ep-theme="right-side"] {
  --ep-close-color: #000;
  --ep-max-width: 860px;

  position: fixed;

  &:not(.open) {
    opacity: 1;
    transform: translateX(100%);
  }

  .easy-popup-container {
    padding: 0;
    overflow: auto;
    max-height: 100vh;

    .easy-popup-inner {
      min-height: 100vh;
      background-color: var(--ep-popup-bg);

      .easy-popup-content {
        border-radius: 0;
      }
    }
  }


  .ep-close-button {
    transform: none;
    position: fixed;
  }
}

[data-ep-theme="left-side"] {
  &:not(.open) {
    transform: translateX(-100%);
  }

  .easy-popup-container {
    margin: 0 auto 0 0;
  }

  .ep-close-button {
    left: clamp(300px, var(--ep-max-width), 100vw);
    transform: translateX(-100%);
  }
}

[data-ep-theme="right-side"] {
  &:not(.open) {
    transform: translateX(100%);
  }

  .easy-popup-container {
    margin: 0 0 0 auto;
  }
}